body {
font-family: Arial;
margin: 0;
background: #1e1e1e;
color: white;
}

header {
display: flex;
justify-content: space-between;
background: #121212;
padding: 15px 30px;
}

.logo {
font-size: 20px;
font-weight: bold;
color: #facc15;
}

nav a {
color: white;
margin-left: 20px;
text-decoration: none;
}

.hero {
text-align: center;
padding: 60px;
background: linear-gradient(#1e1e1e, #2b2b2b);
}

.hero h1 {
color: #facc15;
}

button {
background: #facc15;
border: none;
padding: 10px 20px;
cursor: pointer;
}

.cards {
display: flex;
justify-content: center;
gap: 20px;
padding: 40px;
}

.card {
background: #2b2b2b;
padding: 20px;
border-radius: 10px;
width: 250px;
}

footer {
text-align: center;
padding: 20px;
background: black;
}
